

<div class="case-form">
	<%= simple_form_for(the_case) do |f| %>
    <% if drive_link = the_case.google_drive_link %>
      <%= link_to("Google Drive folder", drive_link, target: :_blank) %>
      <button id="google-drive-edit" class="btn btn-secondary">Edit</button>
    <% end %>

    <div id="edit-drive-link" class="<%= the_case.google_drive_link ? "d-hide" : nil %>">
      <%= f.text_field :google_drive_link, placeholder: "Google drive folder" %>
    </div>

		<%= f.submit "Save Case", {class: 'btn btn-primary upper-case-save'} %>
		<hr class="upper-case-form-divider">

		<div class="container">
			<div class="columns">
				<div class="column col-3">
					<div class='caseworker-select'>
					  <%= f.label "Lead Caseworker", class: "form-label" %>
					  <%= f.collection_select(:caseworker_id, Caseworker.all, :id, :full_name, prompt: true) %>

					  <% unless the_case.caseworkers.empty? %>
					  	<div class="associated-caseworker-header">Associated caseworkers</div>
						  <ul class="associated-caseworkers">
						  	<% the_case.case_caseworkers.compact.select {|cw| cw.caseworker_id != nil }.each do |case_caseworker| %>
						  		<li>
						  			<%= case_caseworker.caseworker.full_name %>
						  			<span class="delete-caseworker" data-caseworker_id="<%= case_caseworker.id %>">x</span>
						  		</li>
						  	<% end %>
						  </ul>
						<% end %>
					  <% unless Case.unrelated_caseworkers(the_case.id).empty? %>
					  	<div class="add-caseworker">
						  	<%= fields_for :case, @case.case_caseworkers.build do |ccw| %>
						  		<%= f.label("Select a caseworker to add", class: "form-label") %>
						  		<%= ccw.collection_select(:caseworker, Case.unrelated_caseworkers(the_case.id), :id, :full_name, {prompt: true}, {name: "case[case_caseworkers_attributes][0][caseworker_id]"}) %>
						  	<% end %>
					  	</div>
							  <%= f.submit "Add caseworker", {class: 'btn', id: 'case-save'} %>

						<% end %>
					</div>
				</div>

				<div class="column col-9">
					<div class="collection-select">
						<%= f.label "Tags", class: "form-label" %>
						<div class="container">
							<div class="columns case-tags">
								<%= f.collection_check_boxes(:tags, Case.tag_options, :to_s, :to_s) do |b| %>
									<h1><% the_case.tags %></h1>
									<div class="column">
										<%= b.label class:"form-label" do %>
											<%= b.check_box + " " +  b.text%>
										<%end%>
									</div>
								<% end %>
							</div>
						</div>
					</div>
					<div>
			  	<%= f.label "Description", {class: "form-label", placeholder: "Brief Overview..."} %>
			  	<%= f.text_area :description, placeholder: "Brief Overview..." %>
					</div>
				</div>
			</div>
		</div>


		<div class="divider big-divider"></div>

  	<div>
	  	<h2>Members</h2>
  	</div>
		<div class="grid-container">
			<%= f.nested_fields_for :members do |member_form| %>
				<div class="grid-item">
	    		<div>
		        <%= member_form.label "First name", class: "form-label" %>
    	      <%= member_form.text_field :first_name, class: "form-input" %>
	    		</div>

	    		<div>
		        <%= member_form.label "Last name", class: "form-label" %>
    	      <%= member_form.text_field :last_name, class: "form-input" %>
	    		</div>

	    		<div>
	          <%= member_form.label "Date of birth", class: "form-label" %>
        	  <% dob_value = member_form.object.date_of_birth ? member_form.object.date_of_birth.to_date : nil %>
      	    <%= member_form.text_field :date_of_birth, {class: "form-input", type: "date", value: dob_value}%>
					</div>

          <div>
            <%= member_form.label "Email", class: "form-label" %>
            <%= member_form.text_field :email, class: "form-input" %>
          </div>

          <div>
            <%= member_form.label "Phone number", class: "form-label" %>
            <%= member_form.text_field :phone_number, class: "form-input" %>
          </div>

	    		<div>
	    			<%= member_form.label "Nationality", class: "form-label" %>
        		<%= member_form.collection_select :nationality, Member.nationalities, :to_s, :to_s, {include_blank: true}, {class: "form-input"} %>
	  		  </div>

          <div>
            <%= member_form.label "Familial Relationship", class: "form-label" %>
            <%= member_form.collection_select :relation, Member.relation_options, :to_s, :to_s, {}, class: "form-input" %>
          </div>

          <div>
            <%= member_form.label "Lead case member", {class: "form-label tooltip tooltip-left", "data-tooltip" => 'Used for display / searching'} %>
            <%= member_form.radio_button :lead_case_member, false %> No
            <%= member_form.radio_button :lead_case_member, true %> Yes
          </div>

					<div class="member-actions">
						<%= f.submit "Save", {class: 'btn btn-primary'} %>
						<%= link_to "Edit", "#/", {class: "btn btn-secondary open-member-modal ",  "data-toggle" => "modal"} %>
						<%= member_form.remove_nested_fields_link 'Remove', class: "btn btn-cancel" %>
					</div>

					<%= render partial: 'member_modal', locals: {member_form: member_form, case_persisted: !the_case.id.nil? } %>
				</div>
			<% end %>
		</div>
		<%= f.add_nested_fields_link :members, "+", class: 'btn btn-primary add-member' %>


		<div class="divider big-divider"></div>

    <div>
      <h2>Files</h2>
    </div>
		<%= render partial: 'edit_file', locals: {files: @case.files} %>

		<div class="container">
  		<div class="columns">
  			<div class="column col-6">
	  			<h4>Add Files</h4>
					<%= simple_form_for(the_case) do |f| %>
						<%= f.file_field :files, multiple: true, direct_upload: true %>
							<div class="form-group">
								<%= f.submit "Add Files", {class: 'btn btn-primary', id: 'case-save'} %>
							</div>
					<% end %>
  			</div>
  			<% if @case.files.empty? %>
	  			<div class="column col-6">
	  				No files uploaded for this case..
	  			</div>
	  		<% else %>
	  			<div class="column col-6">
						<ul>
						  <% @case.files.each do |file| %>
						    <li>
						      <%= link_to(file.blob.filename, rails_blob_path(file.blob, disposition: "attachment")) %>
									<%= link_to("Edit", "#/", {data: {toggle: "modal", file_id: file.id}, class: 'open-edit-filename-modal'}) %>
						    </li>
						  <% end %>
						</ul>
	  			</div>

	  		<% end %>
  		</div>
  	</div>

		<div class="form-group">
			<%= f.submit "Save Case", {class: 'btn btn-primary', id: 'case-save'} %>
		</div>
	<% end %>
</div>


<% if the_case.id %>
	<div class="divider big-divider"></div>
	<div class="activity-section text-center">
  	<h2>Activity</h2>


  	<%= render partial: 'edit_activity', locals: {activities: @activities} %>


  	<div class="container">
  		<div class="columns">
  			<div class="column col-12">
  				<%= render partial: 'new_activity', locals: {the_case: @case, activities: @activities} %>
  			</div>
	  		<% if !@activities.empty?  %>
    			<div class="column col-12">
		  			<div class="divider big-divider"></div>
    				<h3>Recent</h3>
    				<table class="table">
    					<head>
    						<tr>
    							<th scope="col">Type</th>
    							<th scope="col">Future date</th>
    							<th scope="col">Date updated</th>
    							<th scope="col">Caseworker</th>
    							<th scope="col">Notes</th>
    							<th scope="col">Actions</th>
    						</tr>
    					</head>
    					<tbody>
    						<% @activities.each do |a| %>
	    						<tr>
	    							<td><%= a.case_activity_type %></td>
	    							<td><%= display_datetime(a.relevant_future_datetime) %></td>
	    							<td><%= display_datetime(a.updated_at) %></td>
	    							<td><%= a.owner.try(:full_name) %></td>
	    							<td><%= simple_format(a.notes) %></td>
	    							<td>
                      <%= link_to("Edit", "#/", {data: {toggle: "modal", activity_id: a.id}, class: 'open-edit-activity-modal'}) %>
                      <%= link_to 'Delete',  "/activities/#{a.id}",  method: :delete, data: { confirm: 'Delete activity?' } %>
                    </td>
	    						</tr>
    						<% end %>
    					</tbody>
    				</table>
    			</div>
	  		<% end %>
	  	</div>
		</div>
  </div>
<% end %>