<div class="case-form">
	<hr>
	<%= bootstrap_form_for(the_case) do |f| %>
	  <!-- One "tab" for each step in the form: -->
	  	<%= f.text_area :description, placeholder: "Brief Overview..." %>
	  	<hr>
	  	<div>
		  	<h2>Members</h2>
	  	</div>
	  	<div class="container">
	  		<div class="row">
					<%= f.nested_fields_for(:members, wrapper_options: {class: "col-sm-4"}) do |member_form| %>
									<%= member_form.hidden_field :case_id, value: the_case.id %>


									<div class="">
										<%= f.label "First name", class: 'form-label' %>
										<%= member_form.object.first_name%>
									</div>

									<div class="">
										<%= f.label "Last name", class: 'form-label' %>
										<%= member_form.object.last_name%>
									</div>

									<div>
										<%= link_to "show more", "#", {class: "member-modal",  "data-toggle" => "modal", "data-target" => "#member-modal-#{member_form.object.id || '1'}"} %>
									</div>
							<%= member_form.remove_nested_fields_link 'Remove', class: "form-label cancel" %>
							<%= render partial: 'member_modal', locals: {member_form: member_form } %>
					<% end %>
	  		</div>


					<%= f.add_nested_fields_link :members, "Add member", class: 'btn btn-secondary add-member' %>
				<%= f.submit "Save", class: 'btn btn-primary' %>
	  	</div>


	<% end %>

	  	<% if the_case.id %>
		  	<hr>
		  	<h2>Activity</h2>

		  	<div class="container">
		  		<div class="row">
	    			<div class="col-sm-5">
	    				<%= render partial: 'new_activity', locals: {the_case: @case, activities: @activities} %>
	    			</div>


			  		<% if !activities.empty?  %>
		    			<div class="col-sm-5">
		    				<h3>Past</h3>
		    				<%= render_activities(@activities) %>
		    			</div>
			  		<% end %>
			  	</div>
			  </div>
	  	<% end %>




</div>