<div class="case-form">
	<%= form_for(the_case) do |f| %>
	  <!-- One "tab" for each step in the form: -->
  	<%= f.text_area :description, placeholder: "Brief Overview..." %>

  	<div>
	  	<h2>Members</h2>
  	</div>
		<div class="grid-container">
			<%= f.nested_fields_for :members do |member_form| %>
				<div class="grid-item">
		    	<% if member_form.object.first_name || member_form.object.last_name %>
						<%= "#{member_form.object.first_name} #{member_form.object.last_name}" %>
					<% else %>
						<%= f.label "No name yet", class: 'form-label' %>
					<% end %>
					<%= link_to "Edit", "#", {class: "btn btn-secondary open-member-modal ",  "data-toggle" => "modal", "data-target" => "#member-modal-#{member_form.object.id || '1'}"} %>
					<%= member_form.remove_nested_fields_link 'Remove', class: "btn btn-cancel" %>
					<%= render partial: 'member_modal', locals: {member_form: member_form, case_persisted: !the_case.id.nil? } %>
				</div>
			<% end %>
		</div>
		<%= f.add_nested_fields_link :members, "Add member", class: 'btn btn-primary add-member' %>

		<div class="divider big-divider"></div>


  	<div>
	  	<h2>Files</h2>
  	</div>

  	<div class="container">
  		<div class="columns">
  			<div class="column col-5">
					<ul>
					  <% @case.files.each do |file| %>
					    <li>
					      <%= link_to(file.blob.filename, rails_blob_path(file.blob, disposition: "attachment")) %>
					    </li>
					  <% end %>
					</ul>
  			</div>
				<div class="divider divider-vert"></div>
  			<div class="column col-5">
	  			<h4>Add Files</h4>
  				<%= f.file_field :files, multiple: true, direct_upload: true %>
  			</div>
  		</div>
  	</div>


		<div class="form-group">
			<%= f.submit "Save Case", {class: 'btn btn-primary', id: 'case-save'} %>
		</div>
	<% end %>
</div>


<% if the_case.id %>
	<div class="divider big-divider"></div>
	<div class="activity-section text-center">
  	<h2>Activity</h2>

  	<div class="container">
  		<div class="columns">
  			<div class="column col-4">
  				<%= render partial: 'new_activity', locals: {the_case: @case, activities: @activities} %>
  			</div>
	  		<% if !activities.empty?  %>
    			<div class="column col-7">
    				<h3>Recent</h3>
    				<table class="table">
    					<head>
    						<tr>
    							<th scope="col">Date & time</th>
    							<th scope="col">Caseworker</th>
    							<th scope="col">Type</th>
    							<th scope="col">Notes</th>
    						</tr>
    					</head>
    					<tbody>
    						<% @activities.each do |a| %>
	    						<tr>
	    							<td><%= a.updated_at %></td>
	    							<td><%= a.owner.full_name %></td>
	    							<td><%= a.case_activity_type %></td>
	    							<td><%= a.notes %></td>
	    						</tr>
    						<% end %>
    					</tbody>
    				</table>
    			</div>
	  		<% end %>
	  	</div>
		</div>
  </div>
<% end %>