

<div class="case-form">
	<%= simple_form_for(the_case) do |f| %>

		<div class="form-group">
			<label class="">
				Case active: <%= f.check_box(:active) %>
			</label>
		</div>
		<hr>

		<div class="container">
			<div class="columns">
				<div class="column col-3">
					<div class='caseworker-select'>
					  <%= f.label "Lead Caseworker", class: "form-label" %>
					  <%= f.collection_select(:caseworker_id, Caseworker.all, :id, :full_name, prompt: true) %>

					  <% unless the_case.caseworkers.empty? %>
					  	<div class="associated-caseworker-header">Associated caseworkers</div>
						  <ul class="associated-caseworkers">
						  	<% the_case.case_caseworkers.each do |case_caseworker| %>
						  		<li>
						  			<%= case_caseworker.caseworker.full_name %>
						  			<span class="delete-caseworker" data-caseworker_id="<%= case_caseworker.id %>">x</span>
						  		</li>
						  	<% end %>
						  </ul>
						<% end %>
					  <% unless Case.unrelated_caseworkers(the_case.id).empty? %>
					  	<div class="add-caseworker">
						  	<%= fields_for :case, @case.case_caseworkers.build do |ccw| %>
						  		<%= f.label("Select a caseworker to add", class: "form-label") %>
						  		<%= ccw.collection_select(:caseworker, Case.unrelated_caseworkers(the_case.id), :id, :full_name, {}, {name: "case[case_caseworkers_attributes][0][caseworker_id]"}) %>
						  	<% end %>
					  	</div>
							  <%= f.submit "Add caseworker", {class: 'btn', id: 'case-save'} %>

						<% end %>
					</div>
				</div>
				<div class="column col-9">
			  	<%= f.label "Description", {class: "form-label", placeholder: "Brief Overview..."} %>
			  	<%= f.text_area :description, placeholder: "Brief Overview..." %>
				</div>
			</div>
		</div>



		<div class="divider big-divider"></div>

  	<div>
	  	<h2>Members</h2>
  	</div>
		<div class="grid-container">
			<%= f.nested_fields_for :members do |member_form| %>
				<div class="grid-item">
	    		<div>
		        <%= member_form.label "First name", class: "form-label" %>
    	      <%= member_form.text_field :first_name, class: "form-input" %>
	    		</div>

	    		<div>
		        <%= member_form.label "Last name", class: "form-label" %>
    	      <%= member_form.text_field :last_name, class: "form-input" %>
	    		</div>

	    		<div>
	          <%= member_form.label "Date of birth", class: "form-label" %>
        	  <% dob_value = member_form.object.date_of_birth ? member_form.object.date_of_birth.to_date : nil %>
      	    <%= member_form.text_field :date_of_birth, {class: "form-input", type: "date", value: dob_value}%>
					</div>

	    		<div>
	    			<%= member_form.label "Nationality", class: "form-label" %>
        		<%= member_form.text_field :nationality, {class: "form-input", list: "nationalities"} %>
	            <datalist id="nationalities">
	              <% Member.nationalities.each do |n| %>
	                <option value=<%= n %> >
	              <% end %>
	  		  </div>
					<div class="member-actions">
						<%= f.submit "Save", {class: 'btn btn-primary'} %>
						<%= link_to "Edit", "#", {class: "btn btn-secondary open-member-modal ",  "data-toggle" => "modal"} %>
						<%= member_form.remove_nested_fields_link 'Remove', class: "btn btn-cancel" %>
					</div>
					<%= render partial: 'member_modal', locals: {member_form: member_form, case_persisted: !the_case.id.nil? } %>
				</div>
			<% end %>
		</div>
		<%= f.add_nested_fields_link :members, "+", class: 'btn btn-primary add-member' %>

		<div class="divider big-divider"></div>


  	<div>
	  	<h2>Files</h2>
  	</div>

  	<div class="container">
  		<div class="columns">
  			<div class="column col-6">
	  			<h4>Add Files</h4>
  				<%= f.file_field :files, multiple: true, direct_upload: true %>
  			</div>
  			<% if @case.files.empty? %>
	  			<div class="column col-6">
	  				No files uploaded for this case..
	  			</div>
	  		<% else %>
	  			<div class="column col-6">
						<ul>
						  <% @case.files.each do |file| %>
						    <li>
						      <%= link_to(file.blob.filename, rails_blob_path(file.blob, disposition: "attachment")) %>
						    </li>
						  <% end %>
						</ul>
	  			</div>

	  		<% end %>
  		</div>
  	</div>


		<div class="form-group">
			<%= f.submit "Save Case", {class: 'btn btn-primary', id: 'case-save'} %>
		</div>
	<% end %>
</div>


<% if the_case.id %>
	<div class="divider big-divider"></div>
	<div class="activity-section text-center">
  	<h2>Activity</h2>

  	<div class="container">
  		<div class="columns">
  			<div class="column col-12">
  				<%= render partial: 'new_activity', locals: {the_case: @case, activities: @activities} %>
  			</div>
	  		<% if !activities.empty?  %>
    			<div class="column col-12">
		  			<div class="divider big-divider"></div>
    				<h3>Recent</h3>
    				<table class="table">
    					<head>
    						<tr>
    							<th scope="col">Type</th>
    							<th scope="col">Future date</th>
    							<th scope="col">Date created</th>
    							<th scope="col">Caseworker</th>
    							<th scope="col">Notes</th>
    						</tr>
    					</head>
    					<tbody>
    						<% @activities.each do |a| %>
	    						<tr>
	    							<td><%= a.case_activity_type %></td>
	    							<td><%= display_datetime(a.relevant_future_datetime) %></td>
	    							<td><%= display_datetime(a.updated_at) %></td>
	    							<td><%= a.owner.full_name %></td>
	    							<td><%= a.notes %></td>
	    						</tr>
    						<% end %>
    					</tbody>
    				</table>
    			</div>
	  		<% end %>
	  	</div>
		</div>
  </div>
<% end %>