<div class="modal modal-lg member-modal">
  <div class="modal-container">
    <div class="modal-header">
      <h5 class="modal-title" id="member-modal--title"></h5>
      <a href="#close" class="member-close btn btn-clear float-right modal-overlay" aria-label="Close"></a>
      <div class="modal-title h3">Member form</div>
    </div>
    <div class="divider"></div>
    <div class="modal-body">
      <div class="container">
        <div class="columns">


          <div class="column col-4">
            <%= member_form.label "Gender", class: "form-label" %>
            <%= member_form.text_field :gender, class: "form-input" %>
          </div>

          <div class="column col-4">
            <%= member_form.label "Language", class: "form-label" %>
            <%= member_form.text_field :language, {class: "form-input"} %>
          </div>

          <div class="column col-4">
            <%= member_form.label "Translator needed: ", class: "form-label" %>
            <%= member_form.radio_button :english_level, true %> Yes
            <%= member_form.radio_button :english_level, false %> No
          </div>

          <div class="column col-4">
            <%= member_form.label "Email", class: "form-label" %>
            <%= member_form.text_field :email, class: "form-input" %>
          </div>

          <div class="column col-4">
            <%= member_form.label "Phone number", class: "form-label" %>
            <%= member_form.text_field :phone_number, class: "form-input" %>
          </div>


          <div class="column col-4">
            <%= member_form.label "Asylum case #", class: "form-label" %>
            <%= member_form.text_field :case_number, label: "Government case number", class: "form-input" %>
          </div>

          <div class="column col-4">
            <%= member_form.label "Asylum office", class: "form-label" %>
            <%= member_form.collection_select :regional_asylum_office, Member.asylum_office_options, :to_s, :to_s, {}, class: "form-input" %>
          </div>

          <div class="column col-4">
            <%= member_form.label "Arrival date (in Greece)", class: "form-label" %>
            <%= member_form.text_field :arrival_date, {class: "form-input", type: "date"}%>
          </div>

          <div class="column col-4">
            <%= member_form.label "Arrival location (in Greece)", class: "form-label" %>
            <%= member_form.text_field :arrival_location, class: "form-input" %>
          </div>

          <div class="column col-4">
            <%= member_form.label "Interview date", class: "form-label" %>
            <%= member_form.text_field :interview_date, {class: "form-input", type: "date"}%>
          </div>

          <div class="column col-4">
            <%= member_form.label "Appeal/Examination date", class: "form-label" %>
            <%= member_form.text_field :appeal_date, {class: "form-input", type: "date"}%>
          </div>

          <div class="column col-4">
            <%= member_form.label "Geographic restriction:", class: "form-label" %>
            <%= member_form.radio_button :geographic_restriction, true %> Yes
            <%= member_form.radio_button :geographic_restriction, false %> No
          </div>

          <div class="column col-4">
            <%= member_form.label "AMKA:", class: "form-label" %>
            <%= member_form.radio_button :amka, true %> Yes
            <%= member_form.radio_button :amka, false %> No
          </div>

          <div class="column col-4">
            <%= member_form.label "AFM:", class: "form-label" %>
            <%= member_form.radio_button :afm, true %> Yes
            <%= member_form.radio_button :afm, false %> No
          </div>

          <div class="column col-4">
            <%= member_form.label "Bank account:", class: "form-label" %>
            <%= member_form.radio_button :bank_account, true %> Yes
            <%= member_form.radio_button :bank_account, false %> No
          </div>
          <hr>

          <div class="column col-12 collection-select">
            <%= member_form.label "Legal Status", class: "form-label collection-label" %>
            <div class="container">
              <div class="columns">
                <%= member_form.collection_check_boxes(:legal_status, Member.legal_status_options, :to_s, :to_s) do |b| %>
                    <div class="column col-2">
                      <%= b.label class:"form-label" do%>
                      <%= b.check_box + " " +  b.text%>
                      <%end%>
                    </div>
                <% end %>
              </div>
            </div>

          </div>
          <div class="column col-12 collection-select">
            <%= member_form.label "Vulnerabilities", class: "form-label collection-label" %>

            <div class="container">
              <div class="columns">
                <%= member_form.collection_check_boxes(:vulnerabilities, Member.vulnerability_options, :to_s, :to_s) do |b| %>
                    <div class="column col-2">
                      <%= b.label class:"form-label" do%>
                      <%= b.check_box + " " +  b.text%>
                      <%end%>
                    </div>
                <% end %>
              </div>
            </div>

          </div>

          <div class="column col-12 collection-select">
            <%= member_form.label "Housing", class: "form-label collection-label" %>
            <div class="container">
              <div class="columns">
                <%= member_form.collection_check_boxes(:housing, Member.housing_options, :to_s, :to_s) do |b| %>
                    <div class="column col-2">
                      <%= b.label class:"form-label" do%>
                      <%= b.check_box + " " +  b.text%>
                      <%end%>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary member-modal-save" >Save changes</button>
      <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

