<div class="modal" id="member-modal-<%= member_form.object.id || '1' %>" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="member-modal--title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="row">
              <h2>General Info</h2>
              <div class="col">
                <%= member_form.text_field :first_name, class: "form-control" %>
              </div>

              <div class="col">
                <%= member_form.text_field :last_name, class: "form-control" %>
              </div>

              <div class="col">
                <%= member_form.datetime_field :date_of_birth, class: "form-control" %>
              </div>


          </div>

          <div class="">
            <%= member_form.text_field :nationality, class: "form-control", type: 'email' %>
          </div>

          <div class="">
            <%= member_form.text_field :gender, class: "form-control" %>
          </div>

          <div class="">
            <%= member_form.text_field :language, class: "form-control" %>
          </div>

          <div class="">
            <%= member_form.text_field :email, class: "form-control" %>
          </div>

          <div class="form-check form-check-inline">
            <%= member_form.collection_check_boxes(:legal_status, Member.legal_status_options, :to_s, :to_s, class: "form-check-input") %>
          </div>

          <div class="">
            <%= member_form.text_field :case_number, label: "Government case number", class: "form-control" %>
          </div>

          <div class="">
            <%= member_form.text_field :arrival_date, class: "form-control" %>
          </div>

          <div class="">
            <%= member_form.text_field :arrival_location, class: "form-control" %>
          </div>

          <div class="">
            <%= member_form.collection_check_boxes(:vulnerabilities, Member.vulnerability_options, :to_s, :to_s, class: "form-control") %>
          </div>

          <h2>Housing Info</h2>
          <div class="">
            <%= member_form.collection_check_boxes(:housing, Member.housing_options, :to_s, :to_s, class: "form-control") %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary member-modal-save" >Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

