<div class="container text-center">
	<div class="columns">
		<div class="column col-lg-7">
    	<h3>Cases</h3>
      <table id="cases-datatable" data-source="<%= cases_path(format: :json, lawyer: true) %>" class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Case number</th>
            <th>Member Name</th>
            <th>Member DOB</th>
            <th>Member Nationality</th>
            <th>Asylum Case #</th>
            <th>Caseworker</th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
		</div>
    <div class="divider-vert"></div>

    <div class="column col-lg-4">
    	<h3>Recent Activity</h3>
      <% if @activities.empty? %>
        No Activity yet...
      <% else %>
      <table class="table">
        <head>
          <tr>
            <th scope="col">Case number</th>
            <th scope="col">Date</th>
            <th scope="col">Caseworker</th>
            <th scope="col">Type</th>
            <th scope="col">Notes</th>
          </tr>
        </head>
        <tbody>
          <% @activities.each do |a| %>
            <tr>
              <td><%= link_to(a.trackable_id, case_path(a.trackable_id)) %></td>
              <td><%= a.updated_at.to_date %></td>
              <td><%= a.owner.full_name %></td>
              <td><%= a.case_activity_type %></td>
              <td><%= a.notes %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
	</div>
</div>
<div class="divider big-divider"></div>
<div class="text-center">
  <h3>All Lawyer Cases</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Case number</th>
        <th>Member Name</th>
        <th>Member Nationality</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <% Case.where(lawyer: true).each do |the_case| %>
        <tr>
          <td><%= link_to(the_case.id, case_path(the_case)) %></td>
          <td><%= link_to(the_case.member_name, case_path(the_case)) %></td>
          <td><%= link_to(the_case.member_nationality, case_path(the_case)) %></td>
          <td><%= link_to(display_datetime(the_case.updated_at), case_path(the_case)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>