<div class="container text-center">
	<div class="columns">
		<div class="column col-lg-5">
    	<h3>Cases</h3>
    	<div class="divider big-divider"></div>
      <table id="cases-datatable" data-source="<%= cases_path(format: :json) %>" class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Case number</th>
            <th>Member Name</th>
            <th>Caseworker</th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
		</div>
    <div class="divider-vert"></div>

    <div class="column col-lg-7">
    	<h3>Recent Activity</h3>
      <div class="divider big-divider"></div>
      <table class="table">
        <head>
          <tr>
            <th scope="col">Case number</th>
            <th scope="col">Date</th>
            <th scope="col">Caseworker</th>
            <th scope="col">Type</th>
            <th scope="col">Notes</th>
          </tr>
        </head>
        <tbody>
          <% @activities.each do |a| %>
            <tr>
              <td><%= link_to(a.trackable_id, case_path(a.trackable_id)) %></td>
              <td><%= a.updated_at.to_date %></td>
              <td><%= a.owner.full_name %></td>
              <td><%= a.case_activity_type %></td>
              <td><%= a.notes %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
	</div>
</div>
