<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "KhoraAsylumSupport" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <header class="navbar">
      <% if current_caseworker %>
        <div class="navbar-section">
          Khora Asylum Support
        </div>

          <div class="flashes">
            <% flash.each do |key, value| %>
              <%= content_tag :div, value, class: "flash #{key}" %>
            <% end %>
          </div>

        <div class="navbar-section">
          <div class="account-header">
            <% if current_caseworker %>
              <%= link_to 'Edit account', edit_caseworker_registration_path %>
              <%= link_to 'Sign out', destroy_caseworker_session_path, :method=>'delete' %>
            <% else %>
              <%= link_to 'Sign in', new_caseworker_session_path %>
            <% end %>
          </div>
        </div>
      <% end %>

    </header>


    <div class="container">
      <div class="columns">
        <div class="column col-1 hide-sm">
          <% if current_caseworker %>
            <ul class="nav">
              <li class="nav-item">
                  <%= nav_link "Dashboard", caseworker_dashboard_path(current_caseworker) %>
              </li>
              <li class="nav-item">
                <%= nav_link "Cases", cases_path %>
              </li>
              <li class="nav-item">
                <%= nav_link "Activity", activity_path %>
              </li>
            </ul>
          <% end %>
        </div>

        <div class="divider-vert"></div>
        <div class="column col-10 col-sm-12 text-center">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
